<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zcm.springmvc.dao.TAddressMapper" >
  <resultMap id="BaseResultMap" type="com.zcm.springmvc.entity.TAddress" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="CHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="CHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="CHAR" />
    <result column="zip" property="zip" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="modified_user" property="modifiedUser" jdbcType="VARCHAR" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, uid, name, province_name, province_code, city_name, city_code, area_name, area_code, 
    zip, address, phone, tel, tag, is_default, created_user, created_time, modified_user, 
    modified_time
  </sql>
  <!--根据aid查询全部数据-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_address
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <!--根据aid删除全部数据-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_address
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <!--插入数据-->
  <insert id="insert" parameterType="com.zcm.springmvc.entity.TAddress" >
    insert into t_address (aid, uid, name, 
      province_name, province_code, city_name, 
      city_code, area_name, area_code, 
      zip, address, phone, tel, 
      tag, is_default, created_user, 
      created_time, modified_user, modified_time
      )
    values (#{aid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{provinceName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=CHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=CHAR}, #{areaName,jdbcType=VARCHAR}, #{areaCode,jdbcType=CHAR}, 
      #{zip,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{isDefault,jdbcType=INTEGER}, #{createdUser,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{modifiedUser,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <!--条件插入数据-->
  <insert id="insertSelective" parameterType="com.zcm.springmvc.entity.TAddress" >
    insert into t_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="zip != null" >
        zip,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="createdUser != null" >
        created_user,
      </if>
      <if test="createdTime != null" >
        created_time,
      </if>
      <if test="modifiedUser != null" >
        modified_user,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=CHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=CHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=CHAR},
      </if>
      <if test="zip != null" >
        #{zip,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createdUser != null" >
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUser != null" >
        #{modifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!--根据aid修改数据-->
  <update id="updateByPrimaryKeySelective" parameterType="com.zcm.springmvc.entity.TAddress" >
    update t_address
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=CHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=CHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=CHAR},
      </if>
      <if test="zip != null" >
        zip = #{zip,jdbcType=CHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="createdUser != null" >
        created_user = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedUser != null" >
        modified_user = #{modifiedUser,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <!--修改数据-->
  <update id="updateByPrimaryKey" parameterType="com.zcm.springmvc.entity.TAddress" >
    update t_address
    set uid = #{uid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=CHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=CHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=CHAR},
      zip = #{zip,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=INTEGER},
      created_user = #{createdUser,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modified_user = #{modifiedUser,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where aid = #{aid,jdbcType=INTEGER}
  </update>

<!--根据用户id统计数据-->
  <select id="countByUid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from t_address
    where uid=#{uid}
  </select>

  <!--修改默认地址-->
  <update id="updateIsDeful" parameterType="com.zcm.springmvc.entity.TAddress">
    update t_address set is_default=1,modified_user=#{modifiedUser},
    modified_time=#{modifiedTime}
    where aid=#{aid}
  </update>
  <!--全部改成非默认地址-->
<update id="updageAllDeful" parameterType="com.zcm.springmvc.entity.TAddress">
  update t_address set is_default=0,modified_user=#{modifiedUser},
  modified_time=#{modifiedTime}
    where uid=#{uid}
</update>
  <!--删除默认地址-->
  <delete id="deleteAddress" parameterType="java.lang.Integer">
    delete from t_address where
    aid=#{aid}
  </delete>
  <!--如果删除默认地址则设置最新的更新地址为默认地址-->
  <select id="selectnewAddress" resultType="com.zcm.springmvc.entity.TAddress">
 select *from t_address
 order by modified_time desc  limit 0,1;
  </select>
</mapper>